# indirizzo del BE
VITE_EXPENSE_TRACKER_API_BASE_URL=https://your-api-base-url

# Dati App Registration FE
VITE_MSAL_CLIENT_ID=your-entra-app-client-id
VITE_MSAL_TENANT_ID=your-entra-tenant-id

# Endpoint App Registration BE
VITE_MSAL_API_SCOPE=api://your-entra-app-client-id/access_as_user
